services:
  - type: web
    name: jrmph-freesmsapi
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: NODE_VERSION
        value: "18"
      - key: PORT
        value: 10000